# vi:syntax=sh
yolo() {
  local danger=$(arch_news_check)
  if [ "$danger" = "no" ]; then
    echo "no news"
    #sudo pacman -Syu --noconfirm
    yay -Syu
  fi
}
arch_news_check() {
  local  __resultvar=$1
  local archNews=$(curl -s https://www.archlinux.org/feeds/news/ | xmllint --xpath //item/title\ \|\ //item/pubDate /dev/stdin | sed -r -e "s:<title>([^<]*?)</title><pubDate>([^<]*?)</pubDate>:\2\t\1\n:g" | head -n 3 | sed 's/\s[0-9][0-9]:[0-9][0-9]:[0-9][0-9]\s+0000\s/ - /g' | sed 's/^.*, //g')
  if [ "$archNews" != "$(cat ~/.cache/pac-news)" ]; then
    echo "********** ARCH NEWS! MANUAL INTERVENTION NEEDED! **********";
    echo "$archNews"
    waterfox-g3 'https://www.archlinux.org/'
    read -r
    echo "$archNews" > ~/.cache/pac-news
    echo "yes"
  else
    echo "no"
  fi
}
idleon() {
    swayidle \
        timeout 300 'swaylock -f' \
        timeout 600 'swaymsg "output * dpms off"' \
             resume 'swaymsg "output * dpms on"' \
        before-sleep 'swaylock -f'
}
alias idleoff='killall swayidle'

alias vim='nvim'
alias vi='nvim'
alias workvpn='nordvpn disconnect && sudo cp ${HOME}/resolv.conf /etc/ && \
               sudo netExtender -d BRE -u matthew.spicer www.br-envision.com:4433'
alias workrdp='xfreerdp /v:breusers /u:matthew.spicer /dynamic-resolution'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# coloring command outputs
# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

alias diff='diff --color=auto'

# ubuntu ls shortcuts
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

