[submodule "termite/.config/termite/base16-termite"]
	path = termite/.config/termite/base16-termite
	url = https://github.com/khamer/base16-termite.git
[submodule "vim/base16-vim"]
	path = vim/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/.vim/pack/veritas/start/pony-vim-syntax"]
	path = vim/.vim/pack/veritas/start/pony-vim-syntax
	url = https://github.com/dleonard0/pony-vim-syntax.git
[submodule "shell/base16-shell"]
	path = shell/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "shell/.config/base16-shell"]
	path = shell/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "rofi/base16-rofi"]
	path = rofi/base16-rofi
	url = https://gitlab.com/jordiorlando/base16-rofi.git
